<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>

  </head>
  <body>
    <div id="root"></div>
    <script>
      var flashSuccess = '<%- flashSuccess %>';
      var flashError = '<%- flashError %>';
    </script>
    <script src="/js/reactApp.js"></script>
  </body>
</html>
